.button-container {
  width: 75%;
  max-width: 1180px;
  margin: 32px auto;
  background-color: purple;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game-button {
  width: 30%;
  height: 36px;
  margin: auto;
  border-radius: 4px;
  background-color: teal;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 26px;
}

.game-button hover {
  opacity: 0.7;
}
