.time-container {
  width: 75%;
  max-width: 1180px;
  padding: 0 30px;
  margin: 32px auto;
  background-color: lightgrey;
}

.time-container p {
  font-family: Roboto, sans-serif;
  color: #202020;
  font-size: 46px;
  font-weight: bold;
  background-color: greenyellow;
  line-height: 42px;
  text-align: center;
}
