.title-container {
  width: 100%;
  padding: 20px 20px;
  margin: 0 auto;
  margin-top: 10px;
  background-color: #eeeeee;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.title-text {
  color: #202020;
  font-size: 26px;
  font-weight: bold;
  /* background-color: greenyellow; */
  line-height: 26px;
}

.text {
  color: black;
  font-size: 16px;
  font-weight: bold;
  margin-top: 25px;
}
